<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulari alta Restaurant TecnoGourmet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Registre Restaurant TecnoGourmet</legend>
        <form action="#" method="post" data-validate="parsley">
            <div class='row'>
                <label for='nomRestaurant'>Nom del Restaurant</label>
                <input type="text" name='nomRestaurant' id='nomRestaurant' data-required="true" data-error-message="Nom del restaurant obligatori">
            </div>
            <div class='row'>
                <label for="password">Contrassenya</label>
                <input type="text" name='password' data-required="true" data-type="password" data-error-message="Contrassenya obligatòria">
            </div>
            <div class='row'>
                <label for="cpassword">Confirmar contrassenya</label>
                <input type="text" name='cpassword' data-required="true" data-error-message="Les contrassenyes no corresponen">
            </div>
            <div class='row'>
                <label for='direccio'>Adreça del Restaurant</label>
                <input type="text" name='direccio' id='direccio' data-required="true" data-error-message="Adreça obligatòria">
            </div>
            <div class='row'>
                <label for='poblacio'>Població del Restaurant</label>
                <input type="text" name='poblacio' id='poblacio' data-required="true" data-error-message="Pobalció obligatòria">
            </div>
            <div class='row'>
                <label for='numTelefon'>Número de telèfon del Restaurant</label>
                <input type="text" name='numTelefon' id='numTelefon' data-required="true" data-error-message="Telèfon obligatori">
            </div>
            <div class='row'>
                <label for='descripcio'>Descripció del Restaurant</label>
                <input type="text" name='descripcio' id='descripcio' data-required="true" data-error-message="Descripció obligatòria">
            </div>
            <input type="submit" value="Registrar Restaurant">
        </form>
    </div>
</div>


</body>
</html>














