<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inici sessió restaurant</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Inici  Sessió Restaurant</legend>
        <div align="center">  <img src="/logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
        <form action="#" th:action="@{/loginRest}" th:object="${rst}" method="POST">
            <table>
                <tr>
                    <td><label>Nom restaurant</label>:</td>
                    <td><input type="text" th:field="*{nomRestaurant}" required/></td>
                </tr>
                <tr>
                    <td><label >Contrassenya</label>:</td>
                    <td><input type="password" th:field="*{password}" required/></td>
                </tr>
            </table>
            <input type="submit" value="Validar"/>
        </form>
    </div>
</div>


</body>
</html>