<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informació usuari</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Restaurant no valid</legend>
        <div align="center" style="width:500px; height:109.3px" > <img src="/logo.jpg" style="margin-buttom:20px; width:75%; height: 70%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
        <form action="#" th:action="@{/logInRestaurant}"  method="GET">
            <table>
                <tr>
                    <td><span>Credencials no valides</span></td>
                </tr>
            </table>
            <input type="submit" value="Tornar a provar">
        </form>
    </div>
</div>


</body>
</html>