<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Alta restaurant TecnoGourmet</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Registre restaurant</legend>
        <div align="center"><img src="logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
    <form action="#" th:action="@{/newRest}" th:object="${rest}" method="POST" enctype="multipart/form-data">
        <div align="left" class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect
                </li>
            </ul>
        </div>
        <table>
            <tr>
                <td><label th:class="${#fields.hasErrors('nomRestaurant')}? 'error'">Nom</label>:</td>
                <td><input type="text" th:field="*{nomRestaurant}"
                           th:class="${#fields.hasErrors('nomRestaurant')}? 'error'" required/></td>
            </tr>

            <tr>
                <td><label th:class="${#fields.hasErrors('password')}? 'error'">Contrasenya</label>:</td>
                <td><input type="password" th:field="*{password}"
                           th:class="${#fields.hasErrors('password')}? 'error'" required/></td>
            </tr>

            <tr>
                <td><label th:class="${#fields.hasErrors('direccio')}? 'error'">Direcció</label>:</td>
                <td><input type="text" th:field="*{direccio}"
                           th:class="${#fields.hasErrors('direccio')}? 'error'" required/></td>
            </tr>
            <tr>
                <td><label th:class="${#fields.hasErrors('poblacio')}? 'error'">Població</label>:</td>
                <td><input type="text" th:field="*{poblacio}"
                           th:class="${#fields.hasErrors('poblacio')}? 'error'" required/></td>
            </tr>
            <tr>
                <td><label th:class="${#fields.hasErrors('numTelefon')}? 'error'">Telefon</label>:</td>
                <td><input type="text" th:field="*{numTelefon}"
                           th:class="${#fields.hasErrors('numTelefon')}? 'error'" required/></td>
            </tr>
            <tr>
                <td><label th:class="${#fields.hasErrors('capacitat')}? 'error'">Capacitat</label>:</td>
                <td><input type="text" th:field="*{capacitat}"
                           th:class="${#fields.hasErrors('capacitat')}? 'error'" required/></td>
            </tr>

            <tr>
                <td><label th:class="${#fields.hasErrors('descripcio')}? 'error'">Descripció</label>:</td>
                <td><textarea rows="10" cols="50" type="text" th:field="*{descripcio}"
                           th:class="${#fields.hasErrors('descripcio')}? 'error'" required/></td>
            </tr>

            <tr>
                <td><label>Imatge</label>:</td>
                <td><input type="file" name="fichero"/></td>
            </tr>
        </table>
        <input type="submit" value="Registrar restaurant"/>
    </form>
    </div>
</div>
</body>
</html>