<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nova Reserva</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Nova Reserva</legend>
        <div align="center"><img src="/logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
    <form action="#" th:action="@{/newResv}" th:object="${rsv}" method="POST">
        <input type="hidden" name="paramName"  th:value="${nom}"/>
        <input type="hidden" name="usuari"  th:value="${usr.userName}"/>
        <div align="left" class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect
                </li>
            </ul>
        </div>
        <table>
            <!--
            <tr>
                <td><label th:class="${#fields.hasErrors('userName')}? 'error'">Nom usuari</label>:</td>
                <td><input type="text" th:field="*{userName}"
                           th:class="${#fields.hasErrors('userName')}? 'error'"/></td>
            </tr>
            -->
            <tr>
                <td><label th:class="${#fields.hasErrors('data_reserva')}? 'error'">Data Reserva</label>:</td>
                <td><input type="date" th:field="*{data_reserva}"
                           th:class="${#fields.hasErrors('data_reserva')}? 'error'"/></td>
            </tr>
            <tr>
                <select  th:field="*{torn}" style="height: 60px">
                    <option value=1>Primer torn(13h-14h)</option>
                    <option value=2>Segon torn(14h-15h)</option>
                </select>
            </tr>
            <tr>
                <td><label th:class="${#fields.hasErrors('comensals')}? 'error'">Numero de comensals</label>:</td>
                <td><input type="text" th:field="*{comensals}"
                           th:class="${#fields.hasErrors('comensals')}? 'error'"/></td>
            </tr>
        </table>
        <input type="submit" value="Reservar"/>
    </form>
</div>
</body>
</html>