<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mostrar reserves</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Mostrar reserves usuari</legend>
        <div align="center">  <img src="/logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
            <table>
                <tr>
                    <th>Restaurant</th>
                    <th>Data</th>
                    <th>Torn</th>
                    <th>Comensals</th>
                </tr>
                <th:block th:each="resv : ${rsvListUsu}">

                    <tr>
                        <td><label th:text="${resv.restaurant}">...</label></td>
                        <td><label th:text="${resv.data_reserva}">...</label></td>
                        <td><label th:text="${resv.torn}">...</label></td>
                        <td><label th:text="${resv.comensals}">...</label></td>
                    </tr>

                </th:block>
            </table>
            <br>
            <a th:href="@{/index/__${usr.userName}__}" ><button type="submit" value="Pàgina d'inici">Pàgina d'inici</button></a>
    </div>
</div>


</body>
</html>