<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Restaurants</title>
</head>
<body>
<h1>Llistat de usuaris/h1>

<ul>

    <li th:each="user : ${ListUsers}" th:id="'usu_' + ${user.userName}">

        <div><span><b>Nom: </b></span><span th:text="${user.userName}"></span></div>
        <div><span><b>Password: </b></span><span th:text="${user.password}"></span></div>
        <div><span><b>Punts: </b></span><span th:text="${user.punts}"></span></div>
        <div><span><b>Reserves no presentades: </b></span><span th:text="${user.reserves_no_presentades}"></span></div>
    </li>

</ul>
</body>
</html>