<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informació reserva</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Informació usuari</legend>
        <div align="center">  <img src="/logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
            <table>
                <tr>
                    <td><span>Ho sentim no hi ha disponibilitat en aquest restaurant per aquesta data i aquest torn.</span></td>
                </tr>
            </table>
        <a th:href="@{/index/__${usr.userName}__}"><button type="submit" value="Pàgina d'inici">Pàgina d'inici</button></a>
    </div>
</div>
</body>
</html>