<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>InfoRestaurant</title>
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width: 2000px;">
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <a href="/"><img src="/logo.jpg" style="width:100%;" class="w3-round"></a><br><br>
    <h4><a href="/newUsuari">Ets un usuari? Registra't!</a></h4>
    <h4><a href="/newRestaurant">Ets un restaurant? Registra't!</a></h4>
    <h4><a href="/login">Ja ets usuari? Inicia sessió!</a></h4>
  </div>
</nav>
<div style="margin-left:300px">
<div style="margin-left:30px;"><h1 th:text="${rest.nomRestaurant}"/></div>
    <div style="margin-left:600px;"><span style="font-size: 15px;">Puntuació: </span><span style="font-size:30px;color:green" th:text="${rest.puntuacio}"></span><span style="font-size:10px">/10</span></div>
<ul>
    	<div style="width: 700px; height:400px;"><span><img th:src="${rest.foto}" alt="Imatge no trobada" style="width:100%;height:100%;"/></span></div>
        </br></br>
        <div><span><b>Direccio: </b></span><span th:text="${rest.direccio}"></span></div>
        <div><span><b>Població: </b></span><span th:text="${rest.poblacio}"></span></div>
        <div><span><b>Numero de telefon: </b></span><span th:text="${rest.numTelefon}"></span></div>
        <div><span><b>Informació del restaurant: </b></span></div>
        <div>
            <span th:text="${rest.descripcio}"></span>
        </div>
        </br>

        <form method="POST" th:action="@{/puntuacio/__${rest.nomRestaurant}__}" >
            <h3>Puntua aquest restaurant</h3>
            <input type="number" id="tentacles" name="tentacles" min="0" max="10">
            <button type="submit">Enviar</button>
        </form>
        </br>
        <h3>Comentaris</h3>
        <br><br>
        <h3>Deixa la teva opinió</h3>
        <form action="/action_page.php" method="POST">
            <input type="text" name="lname" placeholder="Usuari"/>
            </br> </br>
            <textarea type="text" name="fname" placeholder="Deixa aqui la teva opinio" rows="8" cols="100"></textarea>
            </br>
            <input type="submit" value="Enviar">
        </form>
</ul>
</div>
</body>
</html>