<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>InfoRestaurant</title>
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
.menu {
    background-color: #eee;
    color: #444;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active, .menu:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
<body class="w3-light-grey w3-content" style="max-width: 2000px;">



<!-- MENÚ -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
      <a th:href="@{/index/__${usr.userName}__}"><img src="/logo.jpg" style="width:100%;" class="w3-round"></a><br><br>
    <button class="menu">Ja ets usuari?</button>
    <div class="panel">
    	<h4><a href="/newUsuari">Registra't!</a></h4>
  		<h4><a href="/login">Inicia sessió!</a></h4>
  		<h4><a href="/llistaReserves">Mira les Reserves</a></h4>
	</div>
	<button class="menu">Ets un Restaurant?</button>
	<div class="panel">
		<h4><a href="/newRestaurant">Registra't!</a></h4>
		<h4><a href="/updateRestaurant">Modifica Restaurant!</a></h4>
		<h4><a href="/llistaReserves">Mira les Reserves</a></h4>
	</div>
	<div style="text-align: center;">
		<span><b>Temperatura Mataró: </b></span>
		<span th:text="${temp}"></span>
	</div>
</div>

  </div>
</nav>

<!-- DESCRIPCIO RESTAURANT -->
<div style="margin-left:300px">
<div style="margin-left:40px"><h1 th:text="${rest.nomRestaurant}"/></div>
      <div style="margin-left:600px;"><span style="font-size: 15px;">Puntuació: </span><span style="font-size:30px;color:green" th:text="${rest.puntuacio}"></span><span style="font-size:10px">/10</span></div>
<ul>
    	<div><span><img th:src="${rest.foto}" alt="Imatge no trobada" style="width:700px;height:400px"/></span></div>
    	</br></br>
        <div><span><b>Direccio: </b></span><span th:text="${rest.direccio}"></span></div>
        <div><span><b>Població: </b></span><span th:text="${rest.poblacio}"></span></div>
        <div><span><b>Numero de telefon: </b></span><span th:text="${rest.numTelefon}"></span></div>
        <div><span><b>Informació del restaurant: </b></span></div>
        <div>
            <span th:text="${rest.descripcio}"></span>
        </div>
        </br>



        <a th:href="@{/newReserva/__${rest.nomRestaurant}__/__${usr.userName}__}">
            <input type="button" value="Reservar" />
        </a>

        <form method="POST" th:action="@{/puntuacio/__${rest.nomRestaurant}__/__${usr.userName}__}" >
            <h3>Puntua aquest restaurant</h3>
            <input type="number" id="tentacles" name="tentacles" min="0" max="10">
            <button type="submit">Enviar</button>
        </form>
        </br>

        <h3>Comentaris</h3>
        <th:block th:each="comt : ${ListComt}">
            <div style="margin-left: 5px; width:450px;">
                <div class="w3-container w3-white" style="width: 250px">
                    <td><span th:text="${comt.getUsuari()}">...</span></td>
                    </br>
                    <td th:text="${comt.getText()}">...</td>
                </div>
                </br>
            </div>
        </th:block>

        <br><br>
        <h3>Deixa la teva opinió</h3>
        <form th:action="@{/comentari}" th:object="${coment}" method="POST">
            <input type="hidden" name="nomRest"  th:value="${rest.nomRestaurant}"/>
            <input type="hidden" name="nomU" th:value="${usr.userName}"/>
            </br> </br>
            <textarea type="text" th:field="*{text}" placeholder="Deixa aqui la teva opinio" rows="8" cols="100"></textarea>
            </br>
            <input type="submit" value="Enviar">
        </form>
</ul>
</div>
<script>
var acc = document.getElementsByClassName("menu");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
</body>
</html>