<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload image</title>
</head>
<body>

<!-- <form method="POST" th:action="@{/form}" enctype="multipart/form-data" role="form"> -->

<form method="POST" action="uploadImage" enctype="multipart/form-data">
    <label>Selecciona una foto</label>
    <input type="file" name="fichero"/>
    <input type="submit" value="enviar"/>
</form>

</body>
</html>