<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informació usuari</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="registration-form">
    <div class='fieldset'>
        <legend>Informació usuari</legend>
        <div align="center">  <img src="/logo.jpg" style="width:80%; height: 100%; margin-left: 5px; margin-top: 20px" class="w3-round"><br><br> </div>
        <form action="/"  method="GET">
            <table>
                <tr>
                    <td><label >Nom d'usuari</label>:</td>
                    <td><label th:text="${usr.userName}">...</label></td>
                </tr>
                <tr>
                    <td><label >Password</label>:</td>
                    <td><label th:text="${usr.password}">...</label></td>
                </tr>
                <tr>
                    <td><label >Punts</label>:</td>
                    <td><label th:text="${usr.punts}">...</label></td>
                </tr>
                <tr>
                    <td><label >Reserves no presentades</label>:</td>
                    <td><label th:text="${usr.reserves_no_presentades}">...</label></td>
                </tr>
            </table>
            <input type="submit" value="Pàgina d'inici">
        </form>
    </div>
</div>


</body>
</html>