<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Informació del usuari</title>
    <link href="/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="registration-form">
        <h1 th:text="'User successfully created identified by ' + ${usr.userName} + ':'"/>
        <div class='fieldset'>
            <ul>
                <li>
                    <div><span><b>Nom: </b></span><span th:text="${usr.userName}"></span></div>
                    <div><span><b>Password: </b></span><span th:text="${usr.password}"></span></div>
                    <div><span><b>Punts: </b></span><span th:text="${usr.punts}"></span></div>
                    <div><span><b>Reserves no presentades: </b></span><span th:text="${usr.reserves_no_presentades}"></span></div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
